h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
.container {
  display: block;
  text-align: center;
}
p {
  text-align: center;
}
img {
  width: 250px;
  height: 250px;
  justify-content: center;
}
.userChoices {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weapon1:hover {
  border: 2px solid blueviolet;
}
.weapon2:hover {
  border: 2px solid red;
}
.weapon3:hover {
  border: 2px solid green;
}